/* VARIABLES */

// Brand Colors
$brandBlue: #2756B0;
$brandLightBlue: #3161BE;

//Accent Color
$baseBackground: #E8EDF0;
$darkGrey: #444444;
$lightGrey: #9D9E9E;
$lighterGrey: #d8d8d8;
$warmGrey: #E3E3E3;
$lightBlue: #5479C0;
$warningRed: #C95C5C;
$warningRedHover: #ae3d3d;
$successGreen: #29ae54;
$white: #fff;

// Typogrpahy
$baseFont: Roboto-Regular, "Arial, sans-serif";
$baseFontBold: Roboto-Bold, "Arial, sans-serif";
$headingFont: Montserrat, "Arial, sans-serif";
$baseFontSize: 14px;
$baseFontHeadline: 16px;
$ModalTitleSize: 24px;

// Text Color
$baseFontColor: $darkGrey;
$lightFontColor: $lightGrey;

// Form Input
$placeHolderColor: #DADADA;

// Nav Icon sizes
$linkIconSize: 20px;
$navIconSize: 25px;
$headerHeight: 50px;
